* {
    font-family: 'Advent Pro', sans-serif;
}

.btn {
    border-radius: 25px;
    border: 2px solid #00A29E;
    padding: 12px;
    background: none;
}

p {
    font-weight: bolder;
}

a{
    text-decoration: none;
}